<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=D, initial-scale=1.0">
    <title>Django CRUD Aplication</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    
    
</head>
<body>


    <nav class="navbar navbar-expand-lg" style="background-color:cadetblue">
        <div class="container">
            <a class="navbar-brand" href="/">CRUD TAREA DJANGO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <strong><i class="bi bi-house"></i> Inicio</strong>
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tasks' %}">
                            <strong><i class="bi bi-journals"></i> Tareas</strong>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tasks_pendientes' %}">
                            <strong><i class="bi bi-journal-x"></i> Tareas Pendientes</strong>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tasks_completadas' %}">
                            <strong><i class="bi bi-journal-check"></i> Tareas Completadas</strong>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tasks/create/"><strong><i class="bi bi-journal-plus"></i> Crear Tarea</strong></a>
                    </li>
                    {% endif %}    
                </ul>
            </div>
            <ul class="navbar-nav auth">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <strong><i class="bi bi-person-lock"></i> Cerrar sesión</strong>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/signup">
                        <strong><i class="bi bi-person-plus-fill"></i> Reguístrate ya!</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signin">
                        <strong><i class="bi bi-person-square"></i> Inicia tu sesión</strong></a>
                </li>
                {% endif %}    
            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
</body>
</html>