{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="col-md-4 offset-md-4 mt-3">
        <form method="POST" class="card card-body" style="background-color:rgb(197, 209, 209);">
            <h1 style="text-align: center;">Modificar tarea</h1>
            {{error}}
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-primary mt-1">
                <i
                class="bi bi-pencil-square"></i> Modificar
            </button>
        </form>
        
    </div>
</main>
{% endblock %}

